@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');
html * {
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	transition: 0.3s;
}

.color-hex {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	font-weight: 100;
	padding: 10px 15px;
	border-radius: 25px;
	transition: 0.3s;
	cursor: pointer;
}

.color-hex:hover {
	transform: scale(1.1) translate(-45%, -45%);
	box-shadow: 0 10px 10px #00000028;
}

p {
	position: absolute;
	left: 50%;
	top: 95%;
	transform: translate(-50%, 0);
	font-size: 12.5px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
}
